@(username: Option[String], warning: Option[String])

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap.min.css">
    <title>LMS</title>
</head>
<body class="d-flex justify-content-center align-items-center" style="height: 100vh;">
<div class="content container mt-3 border rounded" style="max-width: 400px;">
    <div class="content p-5">
        <h2 class="text-center mb-4">Вход</h2>
        <form action="/login" method="POST">
            <div class="mb-3">
                <label for="inputUsername" class="form-label">Имя пользователя</label>
                <input name="username" type="text" class="form-control" id="inputUsername" aria-describedby="usernameHelp" value="@username"></input>
            </div>
            <div class="mb-3">
                <label for="inputPassword" class="form-label">Пароль</label>
                <input name="password" type="password" class="form-control" id="inputPassword" aria-describedby="passwordHelp" value=""></input>
            </div>
            @if(warning.nonEmpty) {
            <div class="alert alert-danger mb-3" role="alert">
                @warning
            </div>
            }
            <div class="d-flex justify-content-between align-items-center mb-3 mt-3">
                <a href="/register" class="text-muted">Зарегистрироваться</a>
                <button type="submit" class="btn btn-primary">Отправить</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>


