@(username: Option[String], email: Option[String], password: Option[String])

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap.min.css">
    <title>LMS</title>
</head>
<body class="d-flex justify-content-center align-items-center" style="height: 100vh;"> <!-- Добавлены классы для вертикального и горизонтального центрирования -->
<div class="content container mt-3 border rounded" style="max-width: 400px;"> <!-- Установлен максимальный размер контейнера -->
    <div class="content p-5">
        <h2 class="text-center mb-4">Регистрация</h2>
        <form action="/register" method="POST">
            <div class="mb-3">
                <label for="exampleInputUsername" class="form-label">Имя пользователя</label>
                <input name="username" type="text" class="form-control" id="exampleInputUsername" aria-describedby="usernameHelp">@username</input>
<!--                <div id="usernameHelp" class="form-text">Введите ваше имя пользователя.</div>-->
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail" class="form-label">Email адрес</label>
                <input name="email" type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp">@email</input>
<!--                <div id="emailHelp" class="form-text">Мы никогда не передадим ваш email третьим лицам.</div>-->
            </div>
            <div class="mb-3">
                <label for="inputPassword" class="form-label">Пароль</label>
                <input name="password" type="password" class="form-control" id="inputPassword" aria-describedby="passwordHelp">@password</input>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-3 mt-3">
                <a href="/login" class="text-muted">Есть аккаунт? Войти</a>
                <button type="submit" class="btn btn-primary">Отправить</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
