@import db.model.User
@(currentUser: User)

<!doctype html>
<html lang="en">
@views.html.components.head()
<body>
@views.html.components.header(currentUser)
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <form action="/course/new" method="POST">
                <div class="form-group mt-3">
                    <label for="name">Название курса:</label>
                    <input type="text" class="form-control" id="name" name="name" value="">
                </div>
                <div class="form-group mt-3">
                    <label for="short_description">Краткое описание (отображается в карточке, не более 128 символов):</label>
                    <input type="text" class="form-control" id="short_description" name="short_description" value="">
                </div>
                <div class="form-group mt-3">
                    <label for="description">Полное описание:</label>
                    <input type="text" class="form-control" id="description" name="description" value="">
                </div>
                <div class="form-group mt-3">
                    <label for="preview_image_url">Ссылка на картинку курса (отображается в карточке и на странице курса):</label>
                    <input type="text" class="form-control" id="preview_image_url" name="preview_image_url" value="">
                </div>
                <div class="form-group mt-3">
                    <label for="estimated_time">Предполагаемое время прохождение курса (часы)</label>
                    <input type="number" step="1" class="form-control" id="estimated_time" name="estimated_time" value="">
                </div>
                <button type="submit" class="btn btn-primary mt-3">Сохранить</button>
            </form>
        </div>
    </div>
</div>

<!--@views.html.components.footer()-->
</body>
@views.html.components.js()
</html>
