@import db.model.User
@import db.model.Course
@import db.model.ModuleWithLessonsShort
@(currentUser: User, course: Course, isUserOnCourse: Boolean, modulesWithLessons: Seq[ModuleWithLessonsShort])

<!DOCTYPE html>
<html lang="en">
@views.html.components.head()
<style>
    .course-preview-image {
        max-width: 100%;
        max-height: 300px;
        object-fit: cover;
    }
    .container-with-sidebar {
        display: flex;
    }
    .sidebar {
        width: 280px;
        padding: 1rem;
        color: white;
        min-height: 100vh; /* Ensure sidebar stretches full height */
        box-sizing: border-box;
    }
    .main-content {
        flex-grow: 1;
        padding: 1rem;
        margin-left: 0px;
    }
    .module-description {
        font-size: 0.8rem;
        margin-bottom: 10px;
    }
    .module-title {
        cursor: pointer;
    }
</style>
<body>
@views.html.components.header(currentUser)
<div class="container-with-sidebar">
    @if(course.creatorId == currentUser.id) {
<!--    TODO: || currentUser is able to edit-->
    @views.html.components.course_edit_sidebar(course)
    }

    <div class="main-content">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="card">
                        <img src="@course.previewImageUrl.getOrElse("")" class="card-img-top course-preview-image" alt="Course Image">
                        <div class="card-body">
                            <h3 class="card-title">@course.name</h3>
                            <p class="card-text">@course.description</p>
                            <p class="card-text"><small class="text-muted">Время прохождения: @course.estimatedTime ч.</small></p>
                            <p class="card-text"><small class="text-muted">Дата создания: @course.createdAt</small></p>

                            @if(course.creatorId != currentUser.id) {
                                @if(isUserOnCourse) {
                                    <div class="d-flex justify-content-between mb-4">
                                        <a href="/course/@course.id/lms" class="btn btn-success">Перейти к курсу</a>
                                        <button class="btn btn-danger" onclick="quit()">Отчислиться с курса</button>
                                    </div>
                                } else {
                                    <button class="btn btn-success" onclick="enroll()">Поступить на курс</button>
                                }
                            }

                            @if(course.creatorId != currentUser.id) {
                                <div id="modules-accordion" class="mt-5">
                                @for((module, moduleIndex) <- modulesWithLessons.zipWithIndex) {
                                    <div class="card mb-3">
                                        <div class="card-header d-flex justify-content-between align-items-center">
                                            <h5 class="mb-0">@module.name</h5>
                                        </div>
                                        <div id="module-@module.id" class="collapse show" aria-labelledby="module-@module.id-heading" data-parent="#modules-accordion">
                                            <div class="card-body border-top">
                                                <p class="module-description text-muted">@module.description</p>
                                                <ul class="list-group mb-3">
                                                @for((lesson, lessonIndex) <- module.lessons.zipWithIndex) {
                                                    <li class="list-group-item d-flex justify-content-between border">
                                                        <span>@lesson.name</span>
                                                    </li>
                                                }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                }
                                </div>
                            }
                            @if(currentUser.roles.contains("admin")) {
                                @if(!course.isPublished) {
                                <button type="submit" class="btn btn-primary" onclick="publish()">Опубликовать курс</button>
                                } else {
                                <button type="submit" class="btn btn-warning" onclick="hide()">Скрыть курс</button>
                                }
                            }
                            @if(course.creatorId == currentUser.id) {
                            <form id="courseForm">
                                <div class="form-group mt-3">
                                    <label for="name">Название курса:</label>
                                    <input type="text" class="form-control" id="name" name="name" value="@course.name">
                                </div>
                                <div class="form-group mt-3">
                                    <label for="short_description">Краткое описание (отображается в карточке, не более 128 символов):</label>
                                    <textarea class="form-control" id="short_description" name="short_description" rows="3">@course.shortDescription</textarea>
                                </div>
                                <div class="form-group mt-3">
                                    <label for="description">Полное описание:</label>
                                    <textarea class="form-control" id="description" name="description" rows="5">@course.description</textarea>
                                </div>
                                <div class="form-group mt-3">
                                    <label for="preview_image_url">Ссылка на картинку курса (отображается в карточке и на странице курса):</label>
                                    <input type="text" class="form-control" id="preview_image_url" name="preview_image_url" value="@course.previewImageUrl">
                                </div>
                                <div class="form-group mt-3">
                                    <label for="estimated_time">Предполагаемое время прохождение курса (часы)</label>
                                    <input type="number" step="1" class="form-control" id="estimated_time" name="estimated_time" value="@course.estimatedTime">
                                </div>
                                <div class="form-group mt-3">
                                    <label for="is_free">Курс общедоступный:</label>
                                    <input type="checkbox" class="form-check-input" id="is_free" name="is_free" @if(course.isFree) { checked }>
                                </div>
                                <button type="button" class="btn btn-primary mt-3" onclick="submitForm()">Сохранить</button>
                            </form>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--@views.html.components.footer()-->

<script>
    function submitForm() {
        const courseId = "@course.id";
        const formData = {
            name: document.getElementById('name').value,
            shortDescription: document.getElementById('short_description').value,
            description: document.getElementById('description').value,
            previewImageUrl: document.getElementById('preview_image_url').value,
            estimatedTime: parseInt(document.getElementById('estimated_time').value),
            isFree: document.getElementById('is_free').checked
        };

        fetch(`/course/${courseId}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
        })
        .then(response => {
            if (response.ok) {
                alert('Course updated successfully!');
                window.location.href = `/course/${courseId}`;
            } else {
                alert('Failed to update course.');
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('Error updating course.');
        });
    }

    function enroll() {
        const courseId = "@course.id"
        const studentId = "@currentUser.id"

        fetch(`/course/${courseId}/users/${studentId}/enroll`, {
            method: 'POST',
        })
                .then(response => {
                    if (response.ok) {
                        alert('Вы поступили на курс!');
                        window.location.href = `/course/${courseId}`;
                    } else {
                        alert('Ошибка при поступлении на курс');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Error enrolling on course.');
                });
    }

    function quit() {
        const courseId = "@course.id"
        const studentId = "@currentUser.id"

        fetch(`/course/${courseId}/users/${studentId}/quit`, {
            method: 'DELETE',
        })
                .then(response => {
                    if (response.ok) {
                        alert('Вы отчислились с курса!');
                        window.location.href = `/course/${courseId}`;
                    } else {
                        alert('Ошибка при отчислении с курса');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Error quitting course.');
                });
    }

    function publish() {
        const courseId = "@course.id";
        fetch(`/course/${courseId}/publish`, {
                method: 'PUT',
            })
            .then(response => {
                if (response.ok) {
                    alert('Курс опубликован!');
                    window.location.href = `/course/${courseId}`;
                } else {
                    alert('Ошибка при публикации курса');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Error updating course.');
            });
    }

    function hide() {
        const courseId = "@course.id";
        fetch(`/course/${courseId}/hide`, {
                method: 'PUT',
            })
            .then(response => {
                if (response.ok) {
                    alert('Курс скрыт!');
                    window.location.href = `/course/${courseId}`;
                } else {
                    alert('Ошибка при скрытии курса');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Error updating course.');
            });
    }
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
@views.html.components.js()
</body>
</html>