@import db.model.User
@import db.model.Course
@(currentUser: User, course: Course, users: Seq[(User, Boolean)])

<!DOCTYPE html>
<html lang="en">
@views.html.components.head()
<style>
    .container-with-sidebar {
        display: flex;
    }
    .sidebar {
        width: 280px;
        padding: 1rem;
        color: white;
        min-height: 100vh; /* Ensure sidebar stretches full height */
        box-sizing: border-box;
    }
    .main-content {
        flex-grow: 1;
        padding: 1rem;
        margin-left: 0px;
    }
</style>
<body>
@views.html.components.header(currentUser)
<div class="container-with-sidebar">
    @if(course.creatorId == currentUser.id) {
    @views.html.components.course_edit_sidebar(course)
    }

    <div class="main-content">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h3>Список пользователей курса</h3>
                            <button class="btn btn-primary" onclick="onAddUser()">Добавить пользователя</button>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Имя пользователя</th>
                                    <th>Email</th>
                                    <th>Роли</th>
                                    <th>Зарегистрирован</th>
                                    <th>Действия</th>
                                </tr>
                                </thead>
                                <tbody>
                                @for(user <- users) {
                                <tr>
                                    <td><a href="/user/@user._1.id">@user._1.username</a></td>
                                    <td>@user._1.email</td>
                                    <td>@user._1.roles.mkString(", ")</td>
                                    <td>@user._1.registeredAt</td>
                                    <td>
                                        <div class="btn-group btn-group-sm" role="group" aria-label="Actions">
                                            <button class="btn btn-danger"
                                                    onclick="onKick('@user._1.id')"
                                                    @if(user._1.id == currentUser.id) { disabled } >Исключить</button>
                                            <button class="btn btn-warning"
                                                    onclick="onGrantAccess('@user._1.id')"
                                                    @if(user._1.id == currentUser.id || user._2) { disabled } >Дать права</button>
                                        </div>
                                    </td>
                                </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--@views.html.components.footer()-->

<!-- Модальное окно -->
<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addUserModalLabel">Добавить пользователя</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="searchUser"></label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="searchUser" placeholder="Введите имя пользователя" aria-describedby="searchUserBtn">
                        <button class="btn btn-primary" type="button" onclick="searchUsers()" id="searchUserBtn">Искать</button>
                    </div>
                </div>
                <div id="searchResults"></div>
            </div>
        </div>
    </div>
</div>

<script>
    // Функция для отображения модального окна
     function onAddUser() {
         var modal = new bootstrap.Modal(document.getElementById('addUserModal'));
         modal.show();
     }

     // Функция для поиска пользователей
    async function searchUsers() {
        const courseId = "@course.id"
        const query = document.getElementById('searchUser').value;
        const resultsContainer = document.getElementById('searchResults');
        resultsContainer.innerHTML = ''; // Очистить предыдущие результаты

        try {
            // Выполнить запрос к серверу для фильтрации пользователей
            const response = await fetch(`/user/filter?query=${encodeURIComponent(query)}&courseId=${courseId}`);
            if (!response.ok) {
                throw new Error('Ошибка при выполнении запроса');
            }

            const filteredUsers = await response.json();

            if (filteredUsers.length === 0) {
                resultsContainer.innerHTML = '<p>Пользователи не найдены</p>';
            } else {
                const listGroup = document.createElement('div');
                listGroup.className = 'list-group mt-3';

                filteredUsers.forEach(user => {
                    const listItem = document.createElement('div');
                    listItem.className = 'list-group-item d-flex justify-content-between align-items-center';
                    listItem.textContent = user.username;

                    const addButton = document.createElement('button');
                    addButton.className = 'btn btn-success btn-sm';
                    addButton.textContent = 'Добавить';
                    addButton.onclick = () => addUserToCourse(user.id);

                    listItem.appendChild(addButton);
                    listGroup.appendChild(listItem);
                });

                resultsContainer.appendChild(listGroup);
            }
        } catch (error) {
            console.error('Ошибка:', error);
            resultsContainer.innerHTML = '<p>Произошла ошибка при выполнении запроса</p>';
        }
    }


     // Функция для добавления пользователя в курс
     function addUserToCourse(userId) {
         const courseId = "@course.id"
         fetch(`/course/${courseId}/users?id=${userId}`, {
                method: 'PUT',
         }).then(response => {
                if (response.ok) {
                    alert('Пользователь добавлен!');
                } else {
                    alert('Ошибка при добавлении пользователя.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Error updating course.');
            });
     }

    function onKick(userId) {
            const courseId = "@course.id";

            fetch(`/course/${courseId}/users?id=${userId}`, {
                method: 'DELETE',
            })
            .then(response => {
                if (response.ok) {
                    alert('Пользователь удалён!');
                } else {
                    alert('Ошибка при удалении пользователя.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Error updating course.');
            });
        }

    function onGrantAccess(userId) {
            const courseId = "@course.id";

            fetch(`/course/${courseId}/users/grant_access?id=${userId}`, {
                method: 'PUT',
            })
            .then(response => {
                if (response.ok) {
                    alert('Пользователю даны права на редактирование курса!');
                } else {
                    alert('Ошибка при выдаче прав');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Error updating course.');
            });
        }
</script>
@views.html.components.js()
</body>
</html>